*{
  font-family: impact,arial;
  color: white;
}
body{
  background-image: linear-gradient(rgba(90, 33, 33, 0.7),rgba(88, 60, 245, 0.5)), url(earth-1617121_1920.jpg);
  background-attachment: fixed;

}
.container{
  background-color: rgb(5, 12, 44);
  padding: 20px 20px;
  width: 500px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(5, 12, 44,0.5);
}
header{
 text-align: center;
 margin-bottom: 50px;
}
h2{
  font-size: 17px;
  font-style: italic;
  font-weight: 100;
  font-stretch: expanded;
}
.name,
.department,
.email,
.age{
  display: block;
  width: 100%;
  padding: 9px;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
  margin-bottom: 30px;
  color: black;
}
.input-label{
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  font-size: 18px;
}
.form-group,
.form-group-radio{
  margin-bottom: 30px;
}
.form-group-radio{
  display: flex;
  justify-content: space-between;
}
